[submodule "mod/ADS1256"]
	path = mod/ADS1256
	url = https://github.com/adienakhmad/ADS1256.git
[submodule "mod/FreeRTOS-Teensy4"]
	path = mod/FreeRTOS-Teensy4
	url = https://github.com/juliandesvignes/FreeRTOS-Teensy4
